body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 7px;
}

.title {
  background: #e3f4ff;
  margin: 0px 0px 7px 0px;
  padding: 10px 8px;
  font-size: medium;
}

.content {
  background: #e3f4ff;
  padding: 10px 8px;
  margin-bottom: 7px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 10px;
  margin: 0px auto;
}